<div class="footer-social-links">

  <a href="https://in.linkedin.com/in/harshjoshiprofile" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/me.harsh.joshi" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://plus.google.com/+HarshJoshiMe" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
  <a href="https://www.youtube.com/user/MeHarshJoshi" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="https://github.com/Joshi-Harsh" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="mailto:me.harsh.joshi@gmail.com" title="E-mail" target="_blank"><i class="fa fa-inbox"></i></a>
  <a href="http://Joshi-Harsh.github.io/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
  
</div>

